<div class="container">

  <div class="row">

    <div class="col-sm-12">
      <h3>Your Adventure is only a Uniqname Away!</h3>
    </div>
  </div>

  <form class="form-inline" style="margin-top:20px;">
    <div class="form-group center-block text-center">
      <label for="exampleInputName2" style="font-size: 28px; margin-right:20px;">Uniqname:</label>

      <input ng-model="uniqname" focus="true" type="text" class="form-control input-lg" id="exampleInputName2" placeholder="bbunny">
    </div>

    <button type="submit" ng-click="login(uniqname);" class="btn btn-lg btn-danger btn-block" style="margin-top:20px;">Sign in</button>
  </form>
</div>