<div class="row">

  <img src="images/world-of-workcraft.png" class="img-responsive" alt="Responsive image">
</div>
<div ng-hide="UserData.username">
  <div class="row">
    <div class="col-md-12">
      <h3>
        <div class="text-center center-block margin-negative-50-top">

          <a class="btn btn-danger btn-lg" ng-href="#/login"><i class="fa fa-sign-in"></i> Login</a> to Start your Adventure! </div>
      </h3>
    </div>
  </div>
</div>
<div ng-show="UserData.username" class="container-fluid">
  <div class="row" ng-repeat="challenge in myChallenges">
    <div class="col-md-12">
      <div class="panel panel-danger">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <h3>
            <div class="center-block text-center">
              Choose Your Challenge</div>
          </h3>
        </div>
        <!-- Table -->
        <table class="table">
          <tr>
            <td>
              <img class="btn btn-white" src="images/challenges/neo4j-blue-logo.png" />
            </td>
            <td style="vertical-align: middle">
              <a class="btn btn-danger btn-lg" href="#/leaderboard/{{challenge.name}}">
                View Leaderboard
              </a>
            </td>
            <td style="vertical-align: middle">
              <a class="btn btn-danger btn-lg" href="#/logachievement/{{challenge.name}}">
                  Log Your Progress
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>