<div ng-hide="UserData.username">
  <div class="row">
    <div class="col-md-12">
      <p class="centered">Please log in.</p>
    </div>
  </div>
</div>
<div ng-show="UserData.username" class="container-fluid">
  <div class="row">

    <img src="images/world-of-workcraft.png" class="img-responsive" alt="Responsive image">
  </div>
  <div class="row">
    <div class="col-md-9">
      <h2>Pick A Challenge</h2>
    </div>
    <div class="col-md-3">
      <div class="glyphicon glyphicon-plus-sign"></div>
    </div>
  </div>
  <div class="row" ng-repeat="challenge in myChallenges">
    <div class="col-md-12 table-bordered">
      <div class="challenge-padding">
        <div class="glyphicon glyphicon-chevron-right pull-right"></div>
        <p align="center">{{challenge.name}}</p>
        <div class="progress-bar-empty"></div>
      </div>
    </div>
  </div>
</div>
