<div class="row">

  <img src="images/world-of-workcraft.png" class="img-responsive" alt="Responsive image">
</div>
<div ng-hide="UserData.username">
  <div class="row">
    <div class="col-md-12">
      <h1 class="centered"><a ng-href="#/login"><i class="fa fa-sign-in"></i> Login</a> to Start your Adventure!
      </h1>
    </div>
  </div>
</div>
<div ng-show="UserData.username" class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <h2>Pick A Challenge</h2>
    </div>
    <div class="col-md-3">
      <div class="glyphicon glyphicon-plus-sign"></div>
    </div>
  </div>
  <div class="row" ng-repeat="challenge in myChallenges">
    <div class="col-md-12 table-bordered">
      <div class="challenge-padding">
        <div class="glyphicon glyphicon-chevron-right pull-right"></div>
        <a href="#/leaderboard/{{challenge.name}}">
          <p align="center">{{challenge.name}}</p>
        </a>
        <a href="#/logachievement/{{challenge.name}}">
            Log
          </a>
        <div class="progress-bar-empty"></div>
      </div>
    </div>
  </div>
</div>